* {
  padding: 0;
  margin: 0;
  border: none;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, ul li {
  list-style: none;
}

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

button:focus, button:active {
  outline: none;
}

html, body {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  background-color: #151515;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 40px;
}

.header-main {
  background-color: transparent;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
}

.header-top__logo img {
  max-width: 100%;
}
@media (max-width: 860px) {
  .header-top__logo {
    z-index: 20;
  }
}

.header-top__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}
@media (max-width: 860px) {
  .header-top__list {
    position: absolute;
    z-index: 11;
    background-color: #151515;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 200px;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
}

@media (max-width: 860px) {
  .header-top__list--active {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.header-top__link {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.header-top__link:hover {
  color: #0066FF;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
@media (max-width: 860px) {
  .header-top__link {
    font-size: 24px;
  }
}

.menu-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 20px;
  background: transparent;
  display: none;
  z-index: 20;
  bottom: 10px;
}
.menu-btn span {
  height: 2px;
  width: 100%;
  background-color: white;
}
@media (max-width: 860px) {
  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.top {
  text-align: center;
  padding-top: 105px;
  padding-bottom: 50px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  padding-top: 247px;
}

.title {
  color: white;
  padding-bottom: 40px;
  font-size: 96px;
  font-weight: 700;
}
@media (max-width: 767.98px) {
  .title {
    font-size: 60px;
  }
}

.top__link {
  display: inline-block;
  background-color: #151515;
  padding: 23px 23px;
  max-width: 430px;
  width: 100%;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}
@media (max-width: 767.98px) {
  .top__link {
    font-size: 30px;
    max-width: 350px;
  }
}
@media (max-width: 530px) {
  .top__link {
    font-size: 22px;
    max-width: 300px;
  }
}

.swiper::after {
  content: "";
  background: rgba(21, 21, 21, 0.3);
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.swiper-pagination-bullet {
  width: 120px;
  height: 3px;
  background-color: #151515;
  border-radius: 0;
  opacity: 1;
  margin: 0 15px !important;
}
@media (max-width: 860px) {
  .swiper-pagination-bullet {
    width: 80px;
  }
}
@media (max-width: 530px) {
  .swiper-pagination-bullet {
    width: 50px;
  }
}

.swiper-pagination-bullet-active {
  height: 6px;
  background-color: #fff;
}
@media (max-width: 530px) {
  .swiper-pagination-bullet-active {
    height: 4px;
  }
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 50px;
}

.why-lease {
  padding: 150px 0;
}
@media (max-width: 640px) {
  .why-lease {
    padding: 50px 0;
  }
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}
@media (max-width: 640px) {
  .section-title {
    font-size: 32px;
  }
}

.why-lease__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  text-align: center;
}
@media (max-width: 860px) {
  .why-lease__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 640px) {
  .why-lease__list {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

.why-lease__item-img {
  margin-bottom: 30px;
}

.why-lease__item-title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
}

.why-lease__item-text {
  text-align: left;
}

.how-does {
  margin-bottom: 150px;
}

.how-does__inner {
  max-width: 600px;
  margin: 0 auto;
}

.how-does__title {
  font-size: 24px;
  font-weight: 700;
  padding-top: 50px;
}

.how-does__list {
  padding: 50px 0px 70px;
  counter-reset: myCounter;
}

.how-does__item::before {
  counter-increment: myCounter;
  content: counter(myCounter);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 48px;
  font-weight: 700;
  background-color: #0066ff;
  color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}
@media (max-width: 530px) {
  .how-does__item::before {
    padding: 19px 0px 19px 0px;
    margin: 0 auto;
    right: 0;
    width: 50px;
    height: 50px;
    font-size: 32px;
  }
}

.how-does__item {
  list-style-type: none;
  width: 270px;
  position: relative;
  margin-left: auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 19px 0px 19px 240px;
  min-height: 63px;
}
@media (max-width: 530px) {
  .how-does__item {
    padding: 65px 0px 19px 0px;
    margin-right: auto;
  }
}

.how-does__item + .how-does__item {
  margin-top: 40px;
}

.video {
  padding-bottom: 150px;
}
@media (max-width: 640px) {
  .video {
    padding: 50px 0;
  }
}

.video-title {
  margin-bottom: 20px;
}

.video-text {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.video-video {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
@media (max-width: 767.98px) {
  .video-video {
    height: 400px;
  }
}
@media (max-width: 530px) {
  .video-video {
    height: 250px;
  }
}

.important {
  padding-bottom: 150px;
}
@media (max-width: 640px) {
  .important {
    padding: 50px 0;
  }
}

.important__item img {
  max-width: 100%;
}

.important-title {
  margin-bottom: 20px;
}

.important-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  max-width: 580px;
  margin: 0px auto 50px auto;
}

.important__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
@media (max-width: 767.98px) {
  .important__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

.contacts {
  padding: 100px 0 150px;
}
@media (max-width: 767.98px) {
  .contacts {
    padding: 50px 0 50px;
  }
}

.contacts-title {
  margin-bottom: 20px;
}

.contacts-text {
  font-size: 24px;
  font-weight: 700;
  max-width: 935px;
  margin: 0 auto 50px;
}

.form {
  max-width: 580px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__input {
  width: 270px;
  padding: 18px 20px;
  display: inline-block;
  border: 1px solid #0066ff;
  margin-bottom: 50px;
  line-height: 1.3;
  color: #000 !important;
}
@media (max-width: 650px) {
  .form__input {
    width: 100%;
    margin-bottom: 30px;
  }
}

.form__input::-webkit-input-placeholder, .form__comment::-webkit-input-placeholder {
  color: #000;
  opacity: 0.5;
}

.form__input::-moz-placeholder, .form__comment::-moz-placeholder {
  color: #000;
  opacity: 0.5;
}

.form__input:-ms-input-placeholder, .form__comment:-ms-input-placeholder {
  color: #000;
  opacity: 0.5;
}

.form__input::-ms-input-placeholder, .form__comment::-ms-input-placeholder {
  color: #000;
  opacity: 0.5;
}

.form__input::placeholder,
.form__comment::placeholder {
  color: #000;
  opacity: 0.5;
}

.form__comment {
  width: 100%;
  resize: none;
  padding: 28px 20px;
  height: 290px;
  border: 1px solid #0066ff;
  margin-bottom: 50px;
}

.form__button {
  max-width: 184px;
  width: 100%;
  padding: 13px 61px;
  background-color: #000;
  color: white;
  text-transform: uppercase;
  margin: 0 auto;
}

.blog {
  padding-bottom: 150px;
}
@media (max-width: 767.98px) {
  .blog {
    padding-bottom: 50px;
  }
}

.blog__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
@media (max-width: 860px) {
  .blog__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.blog__part {
  margin-bottom: 70px;
}
.blog__part img {
  margin-bottom: 30px;
  max-width: 100%;
}

.blog__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-Width: 860px) {
  .blog__title {
    display: block;
  }
}

.blog__text {
  font-size: 24px;
  font-weight: 700;
}
@media (max-Width: 860px) {
  .blog__text {
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .blog__text {
    font-size: 18px;
  }
}

.blog__button {
  max-width: 80px;
  width: 100%;
}
.blog__button a {
  color: white !important;
  padding: 4px 20px;
  background-color: #0066ff;
}

.button {
  max-width: 225px;
  width: 100%;
  margin: 0 auto;
  text-transform: uppercase;
  background-color: #151515;
  padding: 13px;
  color: white;
  text-align: center;
  display: block;
}

.choose-cars {
  padding: 100px 0 150px;
}
@media (max-width: 767.98px) {
  .choose-cars {
    padding: 50px 0 50px;
  }
}

.tabs__btn {
  padding: 0px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 80px;
  margin-bottom: 100px;
}
@media (max-width: 1080px) {
  .tabs__btn {
    padding: 0;
    gap: 20px;
  }
}
@media (max-width: 540px) {
  .tabs__btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.tabs__btn-item {
  font-size: 24px;
  font-weight: 700;
}
@media (max-Width: 650px) {
  .tabs__btn-item {
    font-size: 18px;
  }
}

.tabs__btn-item--active {
  color: #0066ff;
}

.tabs__content {
  margin-bottom: 76px;
}

.tabs__content-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px 40px;
}
.tabs__content-item:last-child {
  margin-bottom: 0;
}
@media (max-width: 1080px) {
  .tabs__content-item {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 860px) {
  .tabs__content-item {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767.98px) {
  .tabs__content-item {
    gap: 40px 40px;
  }
}
@media (max-width: 540px) {
  .tabs__content-item {
    grid-template-columns: repeat(1, 1fr);
  }
}

.tabs__content-item--active {
  display: grid;
  gap: 100px 40px;
}
@media (max-width: 767.98px) {
  .tabs__content-item--active {
    gap: 40px 40px;
  }
}

.card {
  margin: 0 auto;
  text-align: center;
}

.card__img {
  display: block;
  max-width: 100%;
}

.card__content {
  text-align: center;
  padding: 0px 5px;
  border: 1px solid #0066ff;
  border-top: 0;
}

.card__title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
  padding-top: 20px;
}

.card__text {
  line-height: 130%;
  padding-bottom: 20px;
}

.card__price {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
}

.card__link {
  line-height: 130%;
  max-width: 270px;
  width: 100%;
  display: inline-block;
  border: 1px solid #0066ff;
  border-top: 0;
}

.footer {
  background-color: #151515;
  padding: 50px 0 32px 0;
  color: white;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 767.98px) {
  .footer__nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.footer__menu {
  margin-bottom: 50px;
}

.footer__item + .footer__item {
  padding-top: 20px;
}

.footer__title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
}

.footer__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: white;
}
.footer__link:hover {
  color: #0066FF;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 39px;
  margin-bottom: 50px;
}

.app__apple-store img,
.app__play-market img {
  max-width: 100%;
}

.footer__info-text {
  max-width: 806px;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.footer-copyrights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  margin-top: 30px;
}
@media (max-width: 640px) {
  .footer-copyrights {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #007aff;
  /*
  --swiper-preloader-color: var(--swiper-theme-color);
  --swiper-wrapper-transition-timing-function: initial;
  */
}

:host {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  overflow: clip;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
  display: block;
}

.swiper-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
       -o-transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
          transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-horizontal {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-vertical {
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

.swiper-backface-hidden .swiper-slide {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* 3D Effects */
.swiper-3d.swiper-css-mode .swiper-wrapper {
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.swiper-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.swiper-3d {
  -webkit-perspective: 1200px;
          perspective: 1200px;
}
.swiper-3d .swiper-slide,
.swiper-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}
.swiper-css-mode.swiper-horizontal > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}
.swiper-css-mode.swiper-vertical > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper {
  -ms-scroll-snap-type: none;
      scroll-snap-type: none;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: none;
}
.swiper-css-mode.swiper-centered > .swiper-wrapper::before {
  content: "";
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-ordinal-group: 10000;
      -ms-flex-order: 9999;
          order: 9999;
}
.swiper-css-mode.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}
.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
          margin-inline-start: var(--swiper-centered-offset-before);
}
.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}
.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
          margin-block-start: var(--swiper-centered-offset-before);
}
.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

/* Slide styles start */
/* 3D Shadows */
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader {
  -webkit-animation: swiper-preloader-spin 1s infinite linear;
          animation: swiper-preloader-spin 1s infinite linear;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}

@-webkit-keyframes swiper-preloader-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes swiper-preloader-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/* Slide styles end */